<a href="https://colab.research.google.com/github/Rodrigo-Perico/DataScience/blob/main/Projeto_Ana%CC%81lise_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto final

Bem vindo ao projeto final do curso/módulo de Pandas.
Neste projeto, você deve responder a um conjunto de perguntas feitas a dois conjuntos de dados:

1. [Obesity among adults by country, 1975-2016](https://www.kaggle.com/amanarora/obesity-among-adults-by-country-19752016/)
2. [GDP Per Person (1901-2011)](https://www.kaggle.com/divyansh22/gdp-per-person-19012011?select=GDP.csv)

Tais conjuntos de dados são públicos foram publicados no Kaggle. Mais instruções sobre cada um deles podem ser encontrados nos links acima. Você também os encontrará na pasta `Datasets`, dentro de nossas apostilas.

In [ ]:
import pandas as pd
import numpy as np

## Perguntas - Obesity among adults by country, 1975-2016

In [ ]:
df = pd.read_csv("obesity-cleaned.csv")

In [ ]:
df.sample(10)

,Unnamed: 0,Country,Year,Obesity (%),Sex
17511,17511,Qatar,2016,35.1 [29.3-41.2],Both sexes
4006,4006,Canada,2008,24.7 [20.8-28.7],Male
893,893,Armenia,1978,10.5 [5.7-16.9],Female
13553,13553,Marshall Islands,1998,49.0 [41.3-56.8],Female
18553,18553,Saint Vincent and the Grenadines,1985,3.8 [1.7-7.0],Male
280,280,Algeria,1984,4.5 [2.2-7.8],Male
13108,13108,Maldives,1976,0.2 [0.1-0.6],Male
6437,6437,Dominican Republic,1978,10.8 [6.3-16.5],Female
16414,16414,Palau,1986,29.3 [21.1-38.1],Male
1078,1078,Australia,1998,18.8 [15.4-22.3],Male

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24570 entries, 0 to 24569
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   24570 non-null  int64
 1   Country      24570 non-null  object
 2   Year         24570 non-null  int64
 3   Obesity (%)  24570 non-null  object
 4   Sex          24570 non-null  object
dtypes: int64(2), object(3)
memory usage: 959.9+ KB

- Limpe os dados do DataFrame, criando uma coluna de nome 'Obesity' que conterá os valores de obesidade. Transforme em float as colunas que porventura foram importadas como string.

In [ ]:
df["Obesity"] = df["Obesity (%)"].str.split(' ').str[0]

In [ ]:
df["Obesity"] = pd.to_numeric(df["Obesity"], errors='coerce')

In [ ]:
df.drop(columns="Obesity (%)", inplace= True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24570 entries, 0 to 24569
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  24570 non-null  int64
 1   Country     24570 non-null  object
 2   Year        24570 non-null  int64
 3   Sex         24570 non-null  object
 4   Obesity     24066 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 959.9+ KB

- Qual o percentual médio de obesidade por sexo no mundo no ano de 2015?

In [ ]:
df[df["Year"] == 2015]["Obesity"].mean()

19.46282722513089

- Quais são os 5 países com a maior e a menor taxa de aumento nos índices de obesidade no período observado?

- Quais os países com maiores e menores níveis percetuais de obesidade em 2015?

In [ ]:
df2015 = df[df["Year"] ==  2015]

menor_obesidade = df2015.loc[df2015['Obesity'].idxmin()]

menor_obesidade

Unnamed: 0       24187
Country       Viet Nam
Year              2015
Sex               Male
Obesity            1.5
Name: 24187, dtype: object

In [ ]:
df2015 = df[df["Year"] == 2015]

maior_obesidade = df2015.loc[df2015["Obesity"].idxmax()]

maior_obesidade

Unnamed: 0     15116
Country        Nauru
Year            2015
Sex           Female
Obesity         63.1
Name: 15116, dtype: object

- Qual a diferença média percentual de obesidade entre sexos ao longo dos anos para o Brasil?

- Você conseguiria plotar um gráfico mostrando a evolução da obesidade para ambos sexos no mundo?

## Perguntas - GDP Per Person (1901-2011)

In [ ]:
df= pd.read_csv("GDP.csv", decimal=".")

In [ ]:
df.sample(10)

NameError: name 'df' is not defined

- Limpe o conjunto de dados, convertendo strings em datas ou float, quando necessário.

In [ ]:
df["Year"] = pd.to_datetime(df["Year"])

In [ ]:
df["GD"]

In [ ]:
df.sample(5)

- Você conseguiria informar o primeiro valor registrado de cada país?

- Informe as regiões com maiores crescimentos de PIB per capita no século passado.

- Preecha os anos ausentes em cada país com uma estimativa, baseada na diferença entre o próximo registro e o anterior.

In [ ]:
df.isnull()

NameError: name 'df' is not defined

### DESAFIOS
- Você conseguiria criar um mapa do gdp ou da obesidade no mundo ao longo dos anos?

- Há uma relação entre níveis de obesidade e gdp per capita?

In [ ]:
.