<a href="https://colab.research.google.com/github/Rodrigo-Perico/DataScience/blob/main/Untitled23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
df[df['coluna2'] == 444]["coluna1"].sum()

In [ ]:
def funct(valor):
  if valor == 'one':
    return 1
  elif valor == 'two':
    return 2

In [ ]:
df['E'] = df["B"].apply(funct)